<nav class="navbar navbar-fixed-top navbar-light bg-light" role="navigation">
  <div class="container">
    <div class = "navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'Recipe app', root_path, class: "navbar-brand", id: 'logo'%>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', root_path %></li>
        <li><%= link_to 'Recipes', root_path %>
      </ul>
    </div>
  </div>
</nav>
